@font-face {
  font-family: "Gotham-Book";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham-Book"), url("gotham-book.woff") format("woff");
}

@font-face {
  font-family: "Gotham-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham-Medium"), url("gotham-medium.tff") format("tff");
}

body, ul, img {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Gotham-Book";
  background: #f3f1f2;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.header {
  height: 74px;
  background: transparent;
  display: inline-flex;
}

.header__logo {
  margin: auto 0;
}

.header-navigation {
  width: 100%;
  height: 100%;
  margin-left: 80px;
  display: flex;
}

.header-navigation .header-navigation__menu  {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  /* align-items: center;
  justify-content: center; */
}

.header-navigation__menu > li {
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
}

.header-navigation__menu > li:hover {
  background: #e94e38;
  color: #fff;
}

.header-navigation__menu .header-navigation-menu__item {
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: #96a6a7;
  padding: 0px 10px;
}

.header-navigation-menu__item:hover {
  background: #e94e38;
  color: #ffffff;
}

.header-navigation .header-navigation__search {
  width: 80px;
  background: #e2dee0;
  color: #ffffff;
}

.header-navigation .header-navigation__login {
  height: 100%;
  width: 160px;
  background: #e94e38;
}

.header-navigation__button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.header-navigation__button:hover {
  opacity: 0.8;
}

.header-navigation__button span {
  margin-left: 10px;
}

.search {
  background: url('../images/img_search_bg.png');
  background-size: 100%;
  display: block;
  padding:60px 0 40px;
}

.search .search__title {
  text-align: center;
  color: white;
  font-family: "Gotham-Book";
  margin-bottom: 30px;
}

.search .search__box {
  width: 470px;
  margin: 0 auto;
}

.search-box__input {
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 28px;
  padding: 0 25px;
  color: #ffffff;
  font-family: "Gotham-Book";
  font-size: 18px;
}

.search__box .search-filter-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.search-filter-box .search-filter-box__select {
  width: 240px;
  font-family: "Gotham-Book";
}

.-margin {
  margin-right: 20px;
}

.search-filter-box-select__option {
  font-size: 20px;
  color: #000000;
}

.search-filter-box-select__option::selection {
  color: white;
}

.search .search__edittext {
  width: 100%;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.search__edittext::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search .search-button {
  width: 100%;
  text-align: center;
}

.search-button .search-button__item {
  height: 60px;
  background: #e94e38;
  border: 1px solid #e94e38;
  border-radius: 30px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  font-family: "Gotham-Book";
  font-weight: bold;
  color: #ffffff;
}

.offer {
  width: 760px;
  margin: 0 auto;
  padding: 90px 0 140px;
  border-top: 1px solid #e2dee0;
}

.offer .offer-title {
  text-align: center;
  margin-bottom: 70px;
}

.offer-title__first {
  color: #566375;
  font-weight: bold;
  font-size: 25px;
}

.offer-title__second {
  color: #abb6b7;
  font-size: 22px;
}

.offer .offer-list {
  width: 800px;
  display: flex;
  margin: 0 auto 35px;
}

.offer-list__item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-list__item--margin {
  margin-right: 30px;
}

.offer .offer-detail {
  width: 100%;
  text-align: center;
}

.offer-detail .offer-detail__title {
  color: #1baf5d;
  font-weight: bold;
  font-size: 30px;
}

.offer-detail .offer-detail-box {
  display: flex;
  margin-top: 45px;
}

.offer-detail-box .offer-detail-box-col {
  width: 50%;
  display: flex;
}

.offer-detail-box-col .offer-detail-box-col__image {
  width: 64px;
  margin-left: 10px;
  margin-right: 20px;
}

.offer-detail-box-col .offer-detail__content {
  text-align: left;
  margin-top: 0px;
  padding-right: 10px;
}

.footer {
  background: url('../images/img_footer_bg.png');
  background-size: 100%;
  padding: 60px 0;
}

.footer-subcribe {
  width: 490px;
  margin: 0 auto;
}

.footer-subcribe .footer-subcribe-input {
  height: 56px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 28px;
  padding: 0 25px;
  color: #ffffff;
  font-family: "Gotham-Book";
  font-size: 18px;
}

.footer-subcribe-input .footer-subcribe-input__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-subcribe-input .footer-subcribe-input__btn {
  background: #e94e38;
  position: absolute;
  right: 3px;
  height: 50px;
  border: #e94e38;
  border-radius: 25px;
  padding: 0 25px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 3px;
}

select, input, button:focus {
  outline: none;
}

.footer-subcribe-input .footer-subcribe-input__text {
  height: 100%;
  background: transparent;
  border: none;
  font-size: 18px;
}

.footer-subcribe-input__text::placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer__line {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin: 55px 0 45px;
}

.footer-detail {
  color: #fff;
  display: flex;
}

.footer-detail .footer-detail-col {
  width: 33%;
  font-size: 14px;
}

.footer-detail-col--relative {
  position: relative;
}

.footer-detail-col .footer-detail-col__title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 30px;
}

.footer-detail-col .footer-detail-col__list {
  list-style-type: none;
  margin-top: 20px;
}

.footer-detail-col__list > li {
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-detail-col__list > li:hover {
  text-decoration: underline;
}

.footer-detail-col .footer-detail-col__list--contact {
  display: flex;
}

.footer-detail-col .footer-detail-col__copyright {
  position: absolute;
  bottom: 0;
}

.icon {
  margin-right: 20px;
  margin-top: auto;
}

.test {
  border: 1px dashed red;
}
.test-2 {
  border: 1px solid red;
}
